.comic-scroll-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../img/flowers.png) no-repeat top 10px right 0;
  background-size: 40%;
  background-attachment: fixed;
  border: 4px solid blue;
}

.comic-scroll-horizontal {
  height: 50vw;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  align-items: end;
  border: 1px solid red;
  padding: 0 1000px 150px 100px;
}

.comic-box img {
  height: 500px;
  border: 4px solid var(--black);
}

#paw img,
#paw-rock img {
  border: none;
}

#paw {
  position: absolute;
  top: 0;
  right: 10%;
}

#paw-rock {
  position: absolute;
  bottom: -35%;
  right: 0;
  z-index: -1;
  opacity: 0.7;
  transform: rotate(340deg);
}
