.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 250px 70px 100px;
  margin: 0 30px;
  border-bottom: 1px solid var(--white);
}

.footer-container li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-background img {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.footer-background {
  position: relative;
}
