// .hero {
//   max-height: 100vw;
//   overflow: hidden;
// }

.hero-mountain-1 {
  width: 100vw;
  position: absolute;
  top: 20%;
}

.hero-mountain-2 {
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero-mountain-3 {
  width: 85vw;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.hero-title {
  width: 50vw;
  position: absolute;
  left: 25%;
  top: 35%;
  z-index: 2;
}
