.hero {
  height: 100vw;
  position: relative;
}

.hero-mountain-1 {
  width: 100vw;
  height: 80vw;
  position: absolute;
  bottom: 5%;
}

.hero-mountain-2 {
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: 1;
}

.hero-mountain-3 {
  width: 85vw;
  position: absolute;
  bottom: 10%;
  z-index: 3;
}

.hero-title {
  width: 50vw;
  position: absolute;
  left: 25%;
  bottom: 40%;
  z-index: 2;
}
