.hero {
  height: 100vw;
  position: relative;
}

.hero-mountain-1 {
  width: 100vw;
  height: 80vw;
  position: absolute;
  bottom: 0;
}

.hero-mountain-2 {
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: 1;
}

.hero-mountain-3 {
  width: 85vw;
  position: absolute;
  bottom: 10%;
  z-index: 3;
}

.hero-title {
  width: 75vw;
  position: absolute;
  left: 14%;
  top: 25%;
  z-index: 2;
}

.hero-sabre {
  width: 30vw;
  position: absolute;
  left: 5%;
  bottom: 15%;
  z-index: 2;
}
