.hero {
  height: 100vw;
  position: relative;
  overflow: hidden;
}

.hero-mountain-1 {
  width: 100vw;
  position: absolute;
  bottom: 6%;
}

.hero-mountain-2 {
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 30%;
  z-index: 1;
}

.hero-mountain-3 {
  width: 85vw;
  position: absolute;
  bottom: 30%;
  z-index: 3;
}

.hero-title {
  width: 75vw;
  position: absolute;
  left: 14%;
  top: 10%;
  z-index: 2;
}
