.hero-moutain-1 {
  width: 100vw;
  position: absolute;
  top: 15%;
}

.hero-moutain-2 {
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero-moutain-3 {
  width: 85vw;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.hero-title {
  width: 50vw;
  position: absolute;
  left: 25%;
  bottom: 35%;
  z-index: 2;
}
