#paw img,
#paw-rock img {
  border: none;
}

#paw {
  position: absolute;
  top: 0;
  right: 10%;
}

#paw-rock {
  position: absolute;
  bottom: -35%;
  right: 0;
  z-index: -1;
  opacity: 0.7;
  transform: rotate(340deg);
}
