.product {
  display: flex;
  gap: 75;
  justify-content: center;
}

.product img {
  width: 700px;
}

.product-cover {
  border: 4px solid var(--black);
  width: 600px;
}

.product-info {
  width: 500px;
  font-weight: 100;
  text-align: justify;
}

.product-info img {
  width: 200px;
}

.product-author {
  font-size: 25px;
  margin: 15px 0;
  font-weight: 300;
}

.product-resume {
  margin-bottom: 50px;
}

.product button {
  font-size: 20px;
}
