:root {
  --white: #fff;
  --black: #000;
  --yellow: #fdff62;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 30px;
  right: 65px;
}

button {
  color: var(--black);
  background-color: var(--white);
  padding: 3px 27px;
  border: 1px solid var(--black);
  border-radius: 4px;
  opacity: 0.5;
}

#megaphone svg {
  position: relative;
  top: 2px;
}
