:root {
  --white: #fff;
  --black: #000;
  --brown: #443e30;
  --yellow: #fdff62;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--brown);
  scroll-behavior: smooth;
}

body {
  position: relative;
}

header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 30px;
  right: 65px;
  z-index: 1000;
}

button {
  font-size: 17px;
  background-color: var(--white);
  padding: 3px 27px;
  border: 1px solid var(--black);
  border-radius: 4px;
  opacity: 0.5;
}

button:hover {
  color: var(--white);
  background-color: var(--black);
}

#megaphone svg {
  position: relative;
  top: 2px;
}

#megaphone:hover path {
  fill: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

footer p,
footer ul {
  color: var(--white);
}

footer img {
  width: 300px;
}

footer p {
  padding: 15px 0 30px;
  text-align: center;
}
